body {
    background-image: url("Tyreso_centrum_by_night.jpg");
    background-color: darkblue; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial;
    color: white;
}
