html, body {
    margin: 0;
    min-height: 80vh;
}

body {
    min-height: 80vh;
    background-color: darkblue;
    background-image: url("Tyreso_centrum_by_night.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 60px;
}
