html {
    margin: 0;
}

body {
    margin: 0;
    height: 400px;
    background-color: darkblue;
    background-image: url("Tyreso_centrum_by_night.jpg");
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    font-family: Arial;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 60px;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.3rem;
}
.side-link {
    align-self: flex-start;
    margin-left: 20px;
    color: orange;
    font-size: 1.2rem;
    text-decoration: none;
}

.side-link:hover {
    text-decoration: underline;
}
